@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
  background: #f6f6f6;
  font-family: 'Open Sans', sans-serif;
  ::-webkit-scrollbar {
    width: 5px;;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  }
  ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

.truncate {
  width: 14vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &--lg{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.App {
  text-align: center;
}
.AppContainer{
  display: flex;
  flex-direction: row;
}
